<div class="container">

    <app-introduction [@slideInFromLeft] *ngIf="showIntroduction"></app-introduction>

    <div class="game" [@slideInFromRight] *ngIf="showGame">
        <mat-grid-list cols="6" rowHeight="fit" gutterSize="0.2rem">
            <mat-grid-tile colspan="4" rowspan="1">
                <app-score-stars [score]="score" [maxScore]="maxScore"></app-score-stars>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="1">
                <app-stopwatch></app-stopwatch>
            </mat-grid-tile>
            <ng-container *ngFor="let item of draw">
                <div *ngIf="item.visible">
                    <mat-grid-tile colspan="6" rowspan="5" [ngClass]="item.css">
                        <div class="symbol">
                            <span [innerHTML]="item.symbol"></span><sup>{{item.charge}}</sup><br/>
                            <span class="group" *ngIf="item.group != ''">groupe&nbsp;:&nbsp;{{item.group}}</span>
                        </div>
                    </mat-grid-tile>
                    <ng-container *ngFor="let proposition of item.propositions">
                        <mat-grid-tile colspan="3" rowspan="2" class="propositions">
                            <span class="toClick" (click)="selectTile($event, proposition, item)"></span>
                            <span class="proposition">{{proposition}}</span>
                        </mat-grid-tile>
                    </ng-container>
                </div>
            </ng-container>
            <mat-grid-tile colspan="6" rowspan="2">
                <button mat-mini-fab color="primary" (click)="intro()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <app-show-results [@slideInFromRight] *ngIf="showResults"></app-show-results>

</div>