<div class="container">

  @if (showIntroduction) {
    <app-introduction [@slideInFromLeft]></app-introduction>
  }

  @if (showGame) {
    <div class="game" [@slideInFromRight]>
      <mat-grid-list cols="6" rowHeight="fit" gutterSize="0.2rem">
        <mat-grid-tile colspan="4" rowspan="1">
          <app-score-stars [score]="score" [maxScore]="maxScore"></app-score-stars>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <app-stopwatch></app-stopwatch>
        </mat-grid-tile>
        @for (item of draw; track item) {
          @if (item.visible) {
            <div>
              @for (proposition of item.propositions | slice:0:2; track proposition) {
                <mat-grid-tile colspan="3" rowspan="2" class="propositions">
                  <span class="toClick" (click)="selectTile($event, proposition, item)"></span>
                  <span class="proposition">{{proposition}}</span>
                </mat-grid-tile>
              }
              <mat-grid-tile colspan="6" rowspan="3" [ngClass]="item.css">
                <div class="symbol">
                  <span [innerHTML]="item.symbol"></span><sup>{{item.charge}}</sup><br/>
                  @if (item.group != '') {
                    <span class="group">groupe&nbsp;:&nbsp;{{item.group}}</span>
                  }
                </div>
              </mat-grid-tile>
              @for (proposition of item.propositions | slice:-2; track proposition) {
                <mat-grid-tile colspan="3" rowspan="2" class="propositions">
                  <span class="toClick" (click)="selectTile($event, proposition, item)"></span>
                  <span class="proposition">{{proposition}}</span>
                </mat-grid-tile>
              }
            </div>
          }
        }
        <mat-grid-tile colspan="6" rowspan="2">
          <button mat-mini-fab color="primary" (click)="intro()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  }

  @if (showResults) {
    <app-show-results [@slideInFromRight]></app-show-results>
  }

</div>