<div class="container">

  @if (showIntroduction) {
    <app-introduction [@slideInFromLeft]></app-introduction>
  }

  @if (showGame) {
    <div class="game" [@slideInFromRight]>
      <mat-grid-list cols="6" rowHeight="fit" gutterSize="0.2rem">
        <mat-grid-tile colspan="4" rowspan="1">
          <app-score-stars [score]="score" [maxScore]="maxScore"></app-score-stars>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <app-stopwatch></app-stopwatch>
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="6">
          @for (item of draw; track item; let i = $index) {
            @if (i === current) {
              <div class="table">
                <!-- liaisons ion → cartes, dessinées derrière les cartes -->
                <svg class="bonds" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                  @for (prop of item.propositions; track prop; let p = $index) {
                    <line [attr.x1]="ion.x" [attr.y1]="ion.y" [attr.x2]="slots[p].x" [attr.y2]="slots[p].y"
                      class="{{prop.css}}" [style.animation-delay.ms]="p * 60"></line>
                  }
                </svg>

                <div class="slot" [style.left.%]="ion.x" [style.top.%]="ion.y">
                  <div class="card ion" [class.correct]="correct">
                    <div class="symbol"><span [innerHTML]="item.symbol"></span><sup>{{item.charge}}</sup></div>
                    @if (item.group) {
                      <div class="group">groupe&nbsp;:&nbsp;{{item.group}}</div>
                    }
                  </div>
                </div>

                @for (prop of item.propositions; track prop; let p = $index) {
                  <div class="slot" [style.left.%]="slots[p].x" [style.top.%]="slots[p].y">
                    <button type="button" class="card name {{prop.css}}"
                      [style.--tilt]="prop.tilt + 'deg'" [style.animation-delay.ms]="p * 60"
                      [disabled]="prop.css === 'hidden'" (click)="selectName(item, p)">{{prop.name}}</button>
                  </div>
                }
              </div>
            }
          }
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="2">
          <button mat-mini-fab color="primary" (click)="intro()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  }

  @if (showResults) {
    <app-show-results [@slideInFromRight]></app-show-results>
  }

</div>
