<div class="container" [@fadeIn]>
    <div class="clock-container">
        <mat-grid-list cols="6" rowHeight="fit">
            <mat-grid-tile colspan="6" rowspan="1">
                <mat-icon>schedule</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="6" rowspan="4">
                <div class="elemental-clock">
                    Il est <br />
                    <span class="element">{{elementHours}}</span> heures
                    <br />et<br />
                    <span class="element">{{elementMinutes}}</span> minutes
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="6" rowspan="2">
                <div class="clock">
                    <span class="hours">{{ currentTime | date: 'HH' }}</span>
                    <span class="colon" [@blink]="colonVisible ? 'visible' : 'hidden'">:</span>
                    <span class="minutes">{{ currentTime | date: 'mm' }}</span>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>