.introduction {
    width: 100%;
    text-align: center;

    .introduction-content {
        padding: 1rem;

        .mat-icon {
            color: #f7931e;
            transform: scale(4);
        }

        h2 {
            color: #f7931e;
            font-weight: bold;
            font-size: 180%;
            margin-top: 2rem;
        }
    }
}