<div class="introduction">
  <div class="introduction-content">
    @if (display.icon !== '') {
      <mat-icon>{{display.icon}}</mat-icon>
      }<br />
      <h2 [innerHTML]="display.title"></h2>
      @for (p of display.p; track p) {
        <p>
          <span [innerHTML]="p"></span>
        </p>
      }
      @if (display.choices) {
        <p class="action-text">{{display.action}}</p>
        <p class="choices">
          @for (choice of display.choices; track $index) {
            <button mat-flat-button color="primary" (click)="clickStart(choice.value)">{{choice.label}}</button>
          }
        </p>
      } @else {
        <p>
          <button mat-flat-button color="primary" (click)="clickStart()">{{display.action}}</button>
        </p>
      }
    </div>
  </div>