.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;

    .display {
        font-size: 150%;
        color: #666;

        &.running {
            color: #673ab7;
        }
    }
}