<div class="informations" [@fadeIn]>
    <p>
        <b>isotope</b>.ch est une application web proposant des petits jeux pour entraîner les automatismes dans
        l'apprentissage de
        la chimie.
    </p>
    <p>
        Cette application a été développée pour aider les élèves du secondaire 2 à mémoriser certaines notions de
        chimie
        générale comme les définitions, la nomenclature ou la stoechiométrie.
    </p>
    <p>
        Le but est de jouer peu, mais souvent!
    </p>
    <p>
        Dans le bus, dans la voiture, à la grande pause du matin ou de l'après-midi, entre deux épisodes de votre série
        préférée ou lorsque vous allez là où les rois vont seuls...
        Jouez, jouez, jouez!
    </p>
    <p>
        L'application a été développée pour les téléphones mobiles, mais elle est également accessible depuis votre
        tablette, votre ordinateur ou même votre frigo, dès le moment où l'appareil bénéficie d'une connexion
        internet
        et d'un navigateur récent.
    </p>
    <p>
        Il suffit de lancer votre navigateur et de le diriger vers l'adresse
        <a href="https://isotope.ch">https://<b>isotope</b>.ch</a>.
    </p>
    <p>
        Depuis votre téléphone mobile ou depuis votre tablette, pour une meilleure expérience, sélectionnez "Ajouter à
        l'écran d'accueil" dans le menu de votre navigateur.
    </p>
    <p>
        Pour toute information supplémentaire, une remarque ou un mot d'encouragement, n'hésitez pas à contacter le
        développeur à l'adresse:
        <a href="mailto:contact@isotope.ch">contact&#64;isotope.ch</a>.
    </p>
    <p>
        BON JEU !
        (^_^)b
    </p>
    <p>
        <b>isotope</b>.ch
    </p>
</div>