.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.introduction {
    padding: 1.2rem;
    text-align: center;

    .logo {
        width: 50%;
    }
}

@media screen and (max-width: 420px) {
    .introduction {
        font-size: 5vw;
        line-height: 1.2;
    }
}

@media screen and (min-width: 421px) and (max-width: 767px) {
    .introduction {
        font-size: 4vw;
        line-height: 1.2;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .introduction {
        font-size: 2.5vw;
        line-height: 1.2;
    }    
}

@media screen and (min-width: 1024px) {
    .introduction {
        font-size: 1.2rem;
        line-height: 120%;
    }
}