<div class="container">

  @if (showIntroduction) {
    <app-introduction [@slideInFromLeft]></app-introduction>
  }

  @if (showGame) {
    <div class="game" [@slideInFromRight]>
      <mat-grid-list cols="12" rowHeight="fit" gutterSize="0.2rem">
        <mat-grid-tile colspan="8" rowspan="1">
          <app-score-stars [score]="score" [maxScore]="maxScore"></app-score-stars>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="1">
          <app-stopwatch></app-stopwatch>
        </mat-grid-tile>
        @for (item of draw; track item) {
          @if (item.visible) {
            <div>
              <mat-grid-tile colspan="12" rowspan="3" [ngClass]="item.css">
                <div class="symbol">
                  <span [innerHTML]="item.formule"></span>
                </div>
              </mat-grid-tile>
              <ng-container>
                <mat-grid-tile colspan="6" rowspan="1" class="propositions {{item.propositions[0].css}}">
                  <span class="toClick" (click)="selectTile(item.propositions[0], item)"></span>
                  <span class="proposition">{{item.propositions[0].type}}</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="6" rowspan="1" class="propositions {{item.propositions[1].css}}">
                  <span class="toClick" (click)="selectTile(item.propositions[1], item)"></span>
                  <span class="proposition">{{item.propositions[1].type}}</span>
                </mat-grid-tile>
              </ng-container>
              <ng-container>
                <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="6" rowspan="1" class="propositions {{item.propositions[2].css}}">
                  <span class="toClick" (click)="selectTile(item.propositions[2], item)"></span>
                  <span class="proposition">{{item.propositions[2].type}}</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>
              </ng-container>
              <ng-container>
                <mat-grid-tile colspan="6" rowspan="1" class="propositions {{item.propositions[3].css}}">
                  <span class="toClick" (click)="selectTile(item.propositions[3], item)"></span>
                  <span class="proposition">{{item.propositions[3].type}}</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="6" rowspan="1" class="propositions {{item.propositions[4].css}}">
                  <span class="toClick" (click)="selectTile(item.propositions[4], item)"></span>
                  <span class="proposition">{{item.propositions[4].type}}</span>
                </mat-grid-tile>
              </ng-container>
            </div>
          }
        }
        <mat-grid-tile colspan="12" rowspan="1">
          <button mat-mini-fab color="primary" (click)="intro()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  }

  @if (showResults) {
    <app-show-results [@slideInFromRight]></app-show-results>
  }

</div>