@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

@import 'colors';

$isotope-primary: mat.m2-define-palette($isotope-orange, 500);
$isotope-accent: mat.m2-define-palette(mat.$m2-indigo-palette, 500);
$isotope-warn: mat.m2-define-palette(mat.$m2-red-palette, 500);

$isotope-theme: mat.m2-define-light-theme((
 color: (
   primary: $isotope-primary,
   accent: $isotope-accent,
   warn: $isotope-warn,
 ),
 typography: mat.m2-define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($isotope-theme);
