@use '@angular/material' as mat;

@include mat.core();

@import 'colors';

$isotope-primary: mat.define-palette($isotope-orange, 500);
$isotope-accent: mat.define-palette(mat.$indigo-palette, 500);
$isotope-warn: mat.define-palette(mat.$red-palette, 500);

$isotope-theme: mat.define-light-theme((
 color: (
   primary: $isotope-primary,
   accent: $isotope-accent,
   warn: $isotope-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($isotope-theme);
